// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
/ {
   buttons {
      debounce-interval-ms = <100>;   
   };
};

&i2c0 {

   status = "okay";

  

   nau7802: nau7802@2a {
      compatible = "nuvoton,nau7802";
      reg = <0x2a>;
      label = "NAU7802"; 
   };

   ssd1306: ssd1306@3c {
      compatible = "solomon,ssd1306fb";
      reg = <0x3c>;
      width = <128>;
      height = <64>;
      segment-offset = <0>;
      //invert x
      segment-remap;
      // invert y
      com-invdir;
      page-offset = <0>;
      display-offset = <0>;
      multiplex-ratio = <63>;
      prechargep = <0xF1>;
      // reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; // Optional: if you have a reset pin
  };
};
